
.sectionHeader{
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    border-bottom: cadetblue 1px solid;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.sectionSeparator {
    padding-bottom: 40px;
}

.cvContent {
    padding-bottom: 2px;
    font-family: "Times New Roman", Times, serif;
}

.sidenav {
    height: 100%;
    max-width: 198px;
    min-width: 198px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav img {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 4);
}

.main{
    margin-left: 200px;
    background-color: white;
    padding: 20px;
}



.navLinks a{
    color: white;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 14px;
}

.navLinks a:hover {
    color: rgb(22, 224, 22);
}

.contentLinks a {
    color: white;
    padding-bottom: 20px;
}

.contentLinks a:hover {
    color: rgb(19, 219, 19);
}

.contactInfo a {
    color: white;
    font-weight: 300;
    font-size: 14px;
}

.contactInfo cell {
    color: white;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 20px;
}

.contactInfo a:hover {
    color: rgb(22, 224, 22);;
}

.responsive {
    max-width: 100px;
    max-height: 200px;
}